.top {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #9ab;
  z-index:100;
}

.foot {
  background-color:#acf;
  height: 65px;
}
.anch1 {
  position:relative;
  z-index=-100;
  font-size:1;
  color: #acf;
}
.anch {
  font-size:1;
  color: #58f;
}
body {
  background-color:red;
  position: relative;
}
.heading {
  font-size:3vw;
}

.email {
  font-size:2vw;
  color:#373;
}
a.email:hover {
  color:#3a3;
}
.img-tile {
  width:100%;
}

.my-name {
  background-color:#58f;
}
.about-me {
  background-color:#acf;
}
.my-portfolio {
  background-color:#58f;  
}
.contact {
  background-color:#acf;
}
.atxt {
  color:#000;
}

