html{
	font-family: "Century Gothic", Arial, Sans-Serif;
	font-size: 16px;
	background-color: #fff;
}





.all-content {
	max-width: 988px;
	text-align: center;
	display: block;
	margin: 1.2em auto 0 auto;/*
	border: black 2px solid;*/
}

.spacer {
	content: "";
	width: 100%;
	height: 100%;
	border: #fff 1px solid;
}

.top {
	padding-top: 0.3125em;
}

#my-name {
	font-size: 3.5em;
	line-height: 1.2em;
	font-family: "DejaVu Sans Condensed";
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

#profile-pic{
	height:100%;
}

#my-pic {
	border-radius: 50%;
	width: 80%;
	text-align: center;
	float: right;
}

.email , .phone{
	padding: 1em 0;
	display: inline;
	font-weight: bold;
	font-size: 1.2em;
}

.email {
	float: left;
	text-align: left;
}

.phone {
	float: right;
	text-align: right;
}

.address {
	display: block;
	text-align: center;
	font-style: italic;
	font-size: 1.3em;
}

#header {
	padding-bottom: 1.2em;
	border-bottom: black 2px solid;
	margin-bottom:1.2em;
}

.left-header {
	padding-top: 0.6em;
}

#left-col {
	padding-right: 3.125em;
}

.content-header {
	padding-bottom: 0.625em;
	font-size: 1.35em;
	font-weight: bold;
	font-style: italic;
}

.links-box{
	padding-top: 0;
}

.links {
	padding-bottom: 0.2em;
	text-align: right;
	float: right;
}

.icons {
	position: relative;
	top: -0.6em;
	max-height: 2em;
	text-align: right;
	float: right;
	padding: 0 0 0.3125em 0.625em;
}

.languages {
	display: inline-block;
	margin: 0.3em auto;
}

.language {
	text-align: center;
	display: block;
	margin: 0 1.5em;
}

.percent {
	position: relative;
	top: -3em;
	left: 0.3125em;
	font-weight: bold;
	z-index: 5;
}



.bar {
	width: 90%;
	height: 1.5625em;
	margin-left: 1.8975em;
	margin-bottom: 0.625em;
	border: black 3px solid;
	-webkit-transform: skew(-40deg);
	-moz-transform: skew(-40deg);
	-o-transform: skew(-40deg);
	transform: skew(-40deg);
	text-align: left;
}


.bar-html:before {
	position: absolute;
	width: 80%;
	height: 100%;
	content: "";
	background-color: #36f;
}

.bar-css:before {
	position: absolute;
	width: 55%;
	height: 100%;
	content: "";
	background-color: #36f;
}

.bar-js:before {
	position: absolute;
	width: 35%;
	height: 100%;
	content: "";
	background-color: #36f;
}



.right-content {
	padding-left: 2.1875em;
	padding-right: 3.125em;
}

.each-job {
	margin: 0.625em;
	display: block;
	padding-bottom: 1.6em;
}

.dates, .location, .position{
	text-align: left;
}

.dates, .location {
	display: inline;
	font-weight: bold;
}

.dates{
	float: left;
}

.location {
	float: right;
}

.position {
	border-top: black 1px solid;
	display: block;
	float: left;
	font-style: italic;
	font-size: 1.2em;
	font-weight: normal;
}

.left-align {
	text-align: left;
}




.footer {
	width: 100%;
	height: 3em;
}



