html{
	font-family: "Century Gothic", Arial, Sans-Serif;
	font-size: 16px;
	background-color: #fff;
}


.hide-menu {
	transform: translateX(0);
	transition: all 500ms ease-in-out;
}

.show-menu {
	transform: translateX(245px);
	transition: all 500ms ease-in-out;
}


.menuName {
	text-align: center;
	font-weight:bold;
}

.menu {
	z-index:10;
	transition: all 500ms ease-in-out;
	display: inline-block;
	top: -5px;
	position: fixed;
	width: 300px;
	height:150%;
	left: -250px;
}

.menu-col {
	padding: 15px;
	text-align:right;
	font-size:1.2em;
}

.menu-col:hover {
	cursor:pointer;
}


.menuContent {
	background-color: #36c;
	height: 100%;
	color:#fff;
}

.menuButton {
	margin-top: 10px;
	cursor: pointer;
	background:#fff;
	border-radius:10px;
}

.hamburger {
	width: 36px;
	height: 6px;
	background-color: #333;
	border-radius: 5px;
	margin: 5px auto;
}

.close-x {
	font-size:2em;
	text-align:left;
	padding-left:12%;
	padding-bottom:0;
	margin-bottom:0;
}

.menu-top {
	font-size:1em;
	padding-top:20px;
}

.all-content {
	max-width: 988px;
	text-align: center;
	margin: 1.2em auto 0 auto;
}

.footer {
	max-width:988px;
	text-align: center;
	margin: 10px auto;
	position:relative;
	height:80px;
	font-weight:bold;
	background-color: #444;
	bottom: 0;
}

.icons {
	max-height: 3em;
	text-align: center;
	padding: 0.3125em 0.625em;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.icons:hover {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	text-decoration: none;
}

.hover-content {
	display:none;
}
.icon-link {
	display:inline-block;
}
.icon-link:hover .hover-content {
	display:inline-block;
	border-radius:5px;
	background-color:yellow;
	color:#000;
}

.links {
	padding: 10px;
	text-align: center;
	margin:10px auto;
	max-height: 80px;
}

.body-content {
}

.content-header {
	font-size:1.8em;
	font-weight:bold;
	width:200px;
	padding-left:10px;
}

.content-left {
	text-align:left;
	padding: 15px;
}

.move-right {
	transform: translateX(205px);
	transition: all 500ms ease-in-out;
}

.content-aboutme {
	height:300px;
}

.content-contactme {
	height:200px;
}

.img-tile {
	max-width:250px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.img-tile:hover {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.p-links {
	padding-left:5%;
	padding-right:10%;
}
.p-content {
	max-width:300px;
	margin: auto;
	font-size:1em;
	display:inline-block;
	padding: 1em;
	position:relative;
	overflow:hidden;
}
.p-content:hover {
	opacity:0.8;
	z-index:10;
}

.move-left {
	transform: translateX(0);
	transition: all 500ms ease-in-out;
}

.top-row {
	background-color: #acf;
}

.name {
	font-size: 2.5em;
	font-weight:bold;
	padding-top:10px;
}
.tiny-name {
	font-size: 1.4em;
	font-weight:bold;
	padding-top:8px;
}

.arrow {
	position: relative;
    display:block;
}
.a-right, .a-left {
    width: 20px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    position: relative;
    display:inline-block;
}
.a-right {
	transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
    left:-5px;
}
.a-left {
	transform: rotate(-40deg);
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
    left:8px;
}

.a-bottom {
	position:relative;
	top:-8px;
}

.back-to-top {
	position:absolute;
	right:1%;
	bottom:20%;
	cursor:pointer;
}

.mobile-footer {
	position: fixed;
	bottom:0%;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	background-color: #555;
	width: 100%
}

@media screen and (min-width: 491px){
	.mobile {
		display:none;
	}
	.mobile-footer {
		display:none;
	}
}

@media screen and (min-width: 451px){
	.tiny-name {
		display:none;
	}
}

@media screen and (min-width: 401px){
	.tiny-name {
		font-size: 2em;
	}
}

@media screen and (max-width: 450px) {
	.name {
		display:none;
	}

	.close-x {
		font-size:3em;
		font-weight:bold;
	}

}


@media screen and (max-width: 490px) {
	.name {
		font-size: 1.4em;
	}
	.big {
		display:none;
	}
	.menu-col {
		font-size:1em;
	}
}

@media screen and (max-width: 640px) {
	.all-content {
		max-width: 500px;
		margin: 1.2em auto 0 auto;
	}

	.name {
		font-size: 2em;
	}
	
}